@{
    ViewData["Title"] = "Update Page";
}
@model Destination

<div class="container bg-beige debug p-4">

    <div class="col-12">
        <h3>Modifica: @Model.Name</h3>
        <form asp-controller="Destination" asp-action="Update" asp-route-id="@Model.Id" method="post">
        @Html.AntiForgeryToken()

            <div class="mb-3">
            <strong>Nome destinazione:</strong>
            <input asp-for="@Model.Name" class="d-block w-100" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class="text-end">
            <input type="submit" class="btn btn-small  btn-secondary" value="Salva">
            </div>
        </form>
    </div>
</div>

