@{
    ViewData["Title"] = "Destination Home Page";
}
@model DettailsUtility

<div class="container">
    <div class="row">

        @*crea*@
        <div class="col-12">
            <h3>Aggiungi un nuovo range:</h3>
            <form asp-controller="AgeRange" asp-action="Create" method="post">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <strong>Range:</strong>
                    <input asp-for="AgeRange.Range" class="d-block w-100" />
                    <span asp-validation-for="AgeRange.Range" class="text-danger"></span>
                </div>

                <div class="text-end">
                    <input type="submit" class="btn btn-small  btn-secondary" value="Salva">
                </div>
            </form>
        </div>


        @*Lista*@
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="mt-3 mb-3">Lista Destinazioni</h1>
            </div>

            @if (Model.Ranges.Count() == 0)
            {
                <h3 class="text-center">Non hai inserito nessun range</h3>
            }
            else
            {
            <table class="table post-list-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Range</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>

                @foreach (AgeRange range in Model.Ranges)
                {
                    <tr class="mb-3 py-5">
                        <td>@range.Id</td>                       
                        <td class="title">@range.Range</td>
                       
                        <td class="items-buttons">
                            <div class="buttons">
                                <a class="btn btn-warning btn-sm" href="@Url.Action("Update", "AgeRange", new{Id = range.Id})">Modifica</a>
                                <form asp-controller="AgeRange" asp-action="Delete" asp-route-id="@range.Id" method="post">
                                @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Elimina
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    
                }

                </tbody>
            </table>
            }
        </div>

        
    </div>
</div>



